@model System.Collections.Generic.List<SimulationGaragistes.ViewModels.VMSimulationData.DayRepport>

<div id="dayRepport">
    @{
        foreach (var item in Model)
        {
            var french = new System.Globalization.CultureInfo("FR-fr");
            var info = french.DateTimeFormat;
            foreach (var dayName in info.DayNames)
            {
                // dimanche, lundi etc
                Console.WriteLine(dayName);
            }
            string jourSemaine = System.Globalization.DateTimeFormatInfo.CurrentInfo.GetDayName(item.jour.AddDays(item.indexJour - 1).DayOfWeek);
            <h2>@item.jour.AddDays(item.indexJour -1).ToShortDateString() (Jour @item.indexJour - @jourSemaine)</h2>

            foreach (var evenement in item.evenements)
            {
                <p>@evenement</p>
            }
        }
    }
</div>
