<br />
<div class="col-sm-2">
    <div class="panel panel-primary">
        <div class="panel-body">
            <ul class="nav nav-pills  nav-stacked ">
                <li>@Html.ActionLink("Retour", "Index", "Modeles",null, null)</li>
            </ul>
        </div>
    </div>
</div>

