<br/>
    <div class="col-md-2">
        <div class="panel panel-primary" >
            <div class="panel-body">
                <ul class="nav nav-pills  nav-stacked ">
                    <li class="">@Html.ActionLink("Liste", "Index", "Garagistes")</li>
                    <li class ="">@Html.ActionLink("Ajouter", "Insert", "Garagistes", new { id = 0 }, new { @class = "" })</li>
                </ul>
            </div>
        </div>
    </div>

