<ul class="submenu">
    <li>@Html.ActionLink("Liste", "Index", "Garagistes",null,new { @class = "btn btn-primary" })</li>
    <li>@Html.ActionLink("Ajouter", "Insert", "Garagistes", null, new { @class = "btn btn-primary" })</li>
</ul>
